<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>calfId</key>
		<string>0000</string>
		<key>cowId</key>
		<string>2000</string>
		<key>sireId</key>
		<string>3000</string>
		<key>birthDate</key>
		<date>2013-12-01T06:00:00Z</date>
		<key>birthWeight</key>
		<string>50</string>
		<key>sex</key>
		<string>Male</string>
		<key>weenDate</key>
		<date>2014-03-29T05:00:00Z</date>
		<key>weenWeight</key>
		<string>111</string>
		<key>notes</key>
		<string>AAAA</string>
	</dict>
	<dict>
		<key>calfId</key>
		<string>1001</string>
		<key>cowId</key>
		<string>2001</string>
		<key>sireId</key>
		<string>3001</string>
		<key>birthDate</key>
		<date>2013-12-01T06:00:00Z</date>
		<key>birthWeight</key>
		<string>51</string>
		<key>sex</key>
		<string>Female</string>
		<key>weenDate</key>
		<date>2014-04-01T05:00:00Z</date>
		<key>weenWeight</key>
		<string>111</string>
		<key>notes</key>
		<string>BBBBB</string>
	</dict>
	<dict>
		<key>calfId</key>
		<string>1003</string>
		<key>cowId</key>
		<string>2003</string>
		<key>sireId</key>
		<string>3003</string>
		<key>birthDate</key>
		<date>2013-12-29T07:45:42Z</date>
		<key>birthWeight</key>
		<string>67</string>
		<key>sex</key>
		<string>female</string>
		<key>weenDate</key>
		<date>2013-03-29T06:46:29Z</date>
		<key>weenWeight</key>
		<string>756</string>
		<key>notes</key>
		<string></string>
	</dict>
	<dict>
		<key>calfId</key>
		<string>1004</string>
		<key>cowId</key>
		<string>2004</string>
		<key>sireId</key>
		<string>3004</string>
		<key>birthDate</key>
		<date>2013-12-29T07:45:42Z</date>
		<key>birthWeight</key>
		<string>45</string>
		<key>sex</key>
		<string>Male</string>
		<key>weenDate</key>
		<date>2013-03-29T06:46:29Z</date>
		<key>weenWeight</key>
		<string>876</string>
		<key>notes</key>
		<string></string>
	</dict>
	<dict>
		<key>calfId</key>
		<string>1001</string>
		<key>cowId</key>
		<string>2001</string>
		<key>sireId</key>
		<string>3001</string>
		<key>birthDate</key>
		<date>2013-12-29T07:45:42Z</date>
		<key>birthWeight</key>
		<string>54</string>
		<key>sex</key>
		<string>Male</string>
		<key>weenDate</key>
		<date>2013-03-29T06:46:29Z</date>
		<key>weenWeight</key>
		<string>756</string>
		<key>notes</key>
		<string></string>
	</dict>
	<dict>
		<key>calfId</key>
		<string>1001</string>
		<key>cowId</key>
		<string>2001</string>
		<key>sireId</key>
		<string>3001</string>
		<key>birthDate</key>
		<date>2013-12-29T07:45:42Z</date>
		<key>birthWeight</key>
		<string>54</string>
		<key>sex</key>
		<string>Male</string>
		<key>weenDate</key>
		<date>2013-03-29T06:46:29Z</date>
		<key>weenWeight</key>
		<string>756</string>
		<key>notes</key>
		<string></string>
	</dict>
	<dict>
		<key>calfId</key>
		<string>1001</string>
		<key>cowId</key>
		<string>2001</string>
		<key>sireId</key>
		<string>3001</string>
		<key>birthDate</key>
		<date>2013-12-29T07:45:42Z</date>
		<key>birthWeight</key>
		<string>54</string>
		<key>sex</key>
		<string>Male</string>
		<key>weenDate</key>
		<date>2013-03-29T06:46:29Z</date>
		<key>weenWeight</key>
		<string>756</string>
		<key>notes</key>
		<string></string>
	</dict>
	<dict>
		<key>calfId</key>
		<string>1007</string>
		<key>cowId</key>
		<string>2007</string>
		<key>sireId</key>
		<string>3007</string>
		<key>birthDate</key>
		<date>2013-12-07T06:00:00Z</date>
		<key>birthWeight</key>
		<string>57</string>
		<key>sex</key>
		<string>Female</string>
		<key>weenDate</key>
		<date>2014-03-07T06:00:00Z</date>
		<key>weenWeight</key>
		<string>777</string>
		<key>notes</key>
		<string></string>
	</dict>
	<dict>
		<key>calfId</key>
		<string>1008</string>
		<key>cowId</key>
		<string>2008</string>
		<key>sireId</key>
		<string>3008</string>
		<key>birthDate</key>
		<date>2013-12-08T06:00:00Z</date>
		<key>birthWeight</key>
		<string>58</string>
		<key>sex</key>
		<string>Male</string>
		<key>weenDate</key>
		<date>2014-03-29T05:00:00Z</date>
		<key>weenWeight</key>
		<string>888</string>
		<key>notes</key>
		<string></string>
	</dict>
	<dict>
		<key>calfId</key>
		<string>1009</string>
		<key>cowId</key>
		<string>2009</string>
		<key>sireId</key>
		<string>3009</string>
		<key>birthDate</key>
		<date>2013-12-09T06:00:00Z</date>
		<key>birthWeight</key>
		<string>59</string>
		<key>sex</key>
		<string>Male</string>
		<key>weenDate</key>
		<date>2013-03-29T06:46:29Z</date>
		<key>weenWeight</key>
		<string>756</string>
		<key>notes</key>
		<string></string>
	</dict>
	<dict>
		<key>calfId</key>
		<string>1001</string>
		<key>cowId</key>
		<string>2001</string>
		<key>sireId</key>
		<string>3001</string>
		<key>birthDate</key>
		<date>2013-12-29T07:45:42Z</date>
		<key>birthWeight</key>
		<string>54</string>
		<key>sex</key>
		<string>Male</string>
		<key>weenDate</key>
		<date>2013-03-29T06:46:29Z</date>
		<key>weenWeight</key>
		<string>756</string>
		<key>notes</key>
		<string></string>
	</dict>
	<dict>
		<key>calfId</key>
		<string>1001</string>
		<key>cowId</key>
		<string>2001</string>
		<key>sireId</key>
		<string>3001</string>
		<key>birthDate</key>
		<date>2013-12-29T07:45:42Z</date>
		<key>birthWeight</key>
		<string>54</string>
		<key>sex</key>
		<string>Male</string>
		<key>weenDate</key>
		<date>2013-03-29T06:46:29Z</date>
		<key>weenWeight</key>
		<string>756</string>
		<key>notes</key>
		<string></string>
	</dict>
	<dict>
		<key>calfId</key>
		<string>1001</string>
		<key>cowId</key>
		<string>2001</string>
		<key>sireId</key>
		<string>3001</string>
		<key>birthDate</key>
		<date>2013-12-29T07:45:42Z</date>
		<key>birthWeight</key>
		<string>54</string>
		<key>sex</key>
		<string>Male</string>
		<key>weenDate</key>
		<date>2013-03-29T06:46:29Z</date>
		<key>weenWeight</key>
		<string>756</string>
		<key>notes</key>
		<string></string>
	</dict>
	<dict>
		<key>calfId</key>
		<string>1001</string>
		<key>cowId</key>
		<string>2001</string>
		<key>sireId</key>
		<string>3001</string>
		<key>birthDate</key>
		<date>2013-12-29T07:45:42Z</date>
		<key>birthWeight</key>
		<string>54</string>
		<key>sex</key>
		<string>Male</string>
		<key>weenDate</key>
		<date>2013-03-29T06:46:29Z</date>
		<key>weenWeight</key>
		<string>756</string>
		<key>notes</key>
		<string></string>
	</dict>
	<dict>
		<key>calfId</key>
		<string>1001</string>
		<key>cowId</key>
		<string>2001</string>
		<key>sireId</key>
		<string>3001</string>
		<key>birthDate</key>
		<date>2013-12-29T07:45:42Z</date>
		<key>birthWeight</key>
		<string>54</string>
		<key>sex</key>
		<string>Male</string>
		<key>weenDate</key>
		<date>2013-03-29T06:46:29Z</date>
		<key>weenWeight</key>
		<string>756</string>
		<key>notes</key>
		<string></string>
	</dict>
	<dict>
		<key>calfId</key>
		<string>1001</string>
		<key>cowId</key>
		<string>2001</string>
		<key>sireId</key>
		<string>3001</string>
		<key>birthDate</key>
		<date>2013-12-29T07:45:42Z</date>
		<key>birthWeight</key>
		<string>54</string>
		<key>sex</key>
		<string>Male</string>
		<key>weenDate</key>
		<date>2013-03-29T06:46:29Z</date>
		<key>weenWeight</key>
		<string>756</string>
		<key>notes</key>
		<string></string>
	</dict>
	<dict>
		<key>calfId</key>
		<string>1001</string>
		<key>cowId</key>
		<string>2001</string>
		<key>sireId</key>
		<string>3001</string>
		<key>birthDate</key>
		<date>2013-12-29T07:45:42Z</date>
		<key>birthWeight</key>
		<string>54</string>
		<key>sex</key>
		<string>Male</string>
		<key>weenDate</key>
		<date>2013-03-29T06:46:29Z</date>
		<key>weenWeight</key>
		<string>756</string>
		<key>notes</key>
		<string></string>
	</dict>
	<dict>
		<key>calfId</key>
		<string>1001</string>
		<key>cowId</key>
		<string>2001</string>
		<key>sireId</key>
		<string>3001</string>
		<key>birthDate</key>
		<date>2013-12-29T07:45:42Z</date>
		<key>birthWeight</key>
		<string>54</string>
		<key>sex</key>
		<string>Male</string>
		<key>weenDate</key>
		<date>2013-03-29T06:46:29Z</date>
		<key>weenWeight</key>
		<string>756</string>
		<key>notes</key>
		<string></string>
	</dict>
	<dict>
		<key>calfId</key>
		<string>1001</string>
		<key>cowId</key>
		<string>2001</string>
		<key>sireId</key>
		<string>3001</string>
		<key>birthDate</key>
		<date>2013-12-29T07:45:42Z</date>
		<key>birthWeight</key>
		<string>54</string>
		<key>sex</key>
		<string>Male</string>
		<key>weenDate</key>
		<date>2013-03-29T06:46:29Z</date>
		<key>weenWeight</key>
		<string>756</string>
		<key>notes</key>
		<string></string>
	</dict>
	<dict>
		<key>calfId</key>
		<string>1001</string>
		<key>cowId</key>
		<string>2001</string>
		<key>sireId</key>
		<string>3001</string>
		<key>birthDate</key>
		<date>2013-12-29T07:45:42Z</date>
		<key>birthWeight</key>
		<string>54</string>
		<key>sex</key>
		<string>Male</string>
		<key>weenDate</key>
		<date>2013-03-29T06:46:29Z</date>
		<key>weenWeight</key>
		<string>756</string>
		<key>notes</key>
		<string></string>
	</dict>
	<dict>
		<key>calfId</key>
		<string>1001</string>
		<key>cowId</key>
		<string>2001</string>
		<key>sireId</key>
		<string>3001</string>
		<key>birthDate</key>
		<date>2013-12-29T07:45:42Z</date>
		<key>birthWeight</key>
		<string>54</string>
		<key>sex</key>
		<string>Male</string>
		<key>weenDate</key>
		<date>2013-03-29T06:46:29Z</date>
		<key>weenWeight</key>
		<string>756</string>
		<key>notes</key>
		<string></string>
	</dict>
</array>
</plist>
