<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>1001</string>
		<string>1002</string>
		<string>1003</string>
		<string>1004</string>
		<string>1005</string>
		<string>1006</string>
		<string>1007</string>
		<string>1008</string>
		<string>1010</string>
		<string>1011</string>
		<string>1012</string>
		<string>1013</string>
		<string>1014</string>
		<string>1015</string>
		<string>1016</string>
		<string>1017</string>
		<string>1018</string>
		<string>1019</string>
		<string>1020</string>
		<string>1021</string>
	</array>
	<array>
		<string>2000</string>
		<string>2001</string>
		<string>2002</string>
		<string>2003</string>
		<string>2004</string>
		<string>2005</string>
		<string>2006</string>
		<string>2007</string>
		<string>2008</string>
		<string>2009</string>
		<string>2010</string>
		<string>2011</string>
		<string>2012</string>
		<string>2013</string>
		<string>2014</string>
		<string>2015</string>
		<string>2016</string>
		<string>2017</string>
		<string>2018</string>
		<string>2019</string>
	</array>
	<array>
		<string>3000</string>
		<string>3001</string>
		<string>3002</string>
		<string>3003</string>
		<string>3004</string>
		<string>3005</string>
		<string>3006</string>
		<string>3007</string>
		<string>3008</string>
		<string>3009</string>
		<string>3010</string>
		<string>3011</string>
		<string>3012</string>
		<string>3013</string>
		<string>3014</string>
		<string>3015</string>
		<string>3016</string>
		<string>3017</string>
		<string>3018</string>
		<string>3019</string>
	</array>
	<array>
		<string>1</string>
		<string>0</string>
		<string>1</string>
		<string>0</string>
		<string>1</string>
		<string>0</string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string>56</string>
		<string>50</string>
		<string>52</string>
		<string>54</string>
		<string>52</string>
		<string>56</string>
		<string>55</string>
		<string>58</string>
		<string>60</string>
		<string>48</string>
		<string>52</string>
		<string>46</string>
		<string>44</string>
		<string>45</string>
		<string>49</string>
		<string>57</string>
		<string>54</string>
		<string>51</string>
		<string>43</string>
		<string>64</string>
	</array>
	<array>
		<string>M</string>
		<string>F</string>
		<string>F</string>
		<string>M</string>
		<string>M</string>
		<string>M</string>
		<string>F</string>
		<string>M</string>
		<string>F</string>
		<string>F</string>
		<string>M</string>
		<string>F</string>
		<string>M</string>
		<string>M</string>
		<string>F</string>
		<string>F</string>
		<string>M</string>
		<string>F</string>
		<string>M</string>
		<string></string>
	</array>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
	<array>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
		<string></string>
	</array>
</array>
</plist>
